*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Fredoka One', sans-serif;
}
:root{
    --choco-milk:#a07555;
    --choco-dark: #4B2E2B;
    --choco-white: #F4E3D7;
    --choco-caramel: #a0876c;
    --text-color-one:#221206;
}
::-webkit-scrollbar{
    z-index: -111111111;
    width: 1vw;
}
::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 10px;
    z-index: -111111111;
    position: fixed;
    right: 0;
}
body{
    background-image: url(../img/background.PNG);
}
.signup--section{
    width: 50%;
    margin: auto;
    background-color: var(--choco-white);
    border: 4px solid var(--choco-dark);
    border-radius: 3ch;
    margin-block: 4ch;
}
.go-back{
    position: absolute;
    font-size: larger;
    padding: 1ch; 
}
.go-back button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: large;
}
.go-back i{
    align-items: center;
    background-color: var(--choco-dark);
    padding: 1ch;
    border-radius: 50%;
    color: var(--choco-white);
}
.signup--content{
    width: 70%;
    margin: auto;
    text-align: center;
}
.signup--img{
    height: 10ch;
    margin-top: 3ch;
    margin-bottom: 1ch;
    border:2px solid var(--choco-dark);
    border-radius: 50%;
}
.signup--content h1{
    font-size: 35px;
    color: var(--text-color-one);
}
.signup--content p{
    font-size: 17px;
    margin-block: 1ch;
}
.signup--input{
    background-color: rgb(221, 221, 221);
    border: 2px solid var(--choco-dark);
    padding: 1ch;
    padding-left: 1ch;
    width: 50%;
    border-radius: 1ch;
    display: flex;
    margin-block:2ch;
    margin-inline: auto;
}
#signup--icon{
    width: 27px;
    height: 27px;
    align-items: center;
    margin: auto;
    justify-content: center;
    color: #221206ce;
}
.signup--input input{
    border: none;
    background-color: transparent;
    outline: none;
    outline-color:transparent;
    font-size: 17px;
    margin-block: auto;
    padding-left: 10px;
    padding: auto;
}
.form--group{
    margin-bottom: ch;
}
.error-message {
    color: red;
    font-size: 1em;
    margin-top: 5px;
    display: none;
}
.success-message {
    color: green;
    font-size: 1em;
    margin-top: 10px;
}
.button{
    padding: 2vh;
    padding-inline: 3ch;
    width: auto;
    border-radius: 1ch;
    border: none;
    background-color: var(--text-color-one);
    color: var(--choco-white);
    font-size: 15px;
    margin-bottom: 5ch;
}
button span{
    padding-inline: 1ch;
}

@media screen and (max-width:1000px) {
    .signup--section{
        width: auto;
        margin-inline: 3ch;
    }
    .signup--input{
        width: auto;
        margin-inline: 2ch;
    }
}