*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Fredoka One', sans-serif;
}
:root{
    --choco-milk:#a07555;
    --choco-dark: #8e6d57 ;
    --choco-background: #22160f;
    --choco-white: #eaddd3;
    --text-color-one:#281b13;
}
::-webkit-scrollbar{
    z-index: -111111111;
    width: 0.2vw;
}
::-webkit-scrollbar-thumb{
    background: var(--choco-dark);
    border-radius: 10px;
    z-index: -111111111;
    position: fixed;
    right: 0;
}
::-webkit-scrollbar-track{
    z-index: -11111111;
    position: fixed;
    right: 0;
}
body{
    background-color: var(--choco-background);
    height: 100vh;
}
header{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: var(--choco-dark);
}
.choco-logo{
    display: flex;
    align-items: center;
    padding: 1ch;
    margin-inline: 1ch;
    gap: 2ch;
}
.choco-logo img{
    height: 5ch;
    border-radius: 50%;
    object-fit: cover;
}
.choco-logo p{
    font-size: large;
    color: var(--choco-background);
}
#choco-to-setting{
    color: var(--choco-background);
    font-size: 1.5rem;
    margin-inline: 1ch;
}
.choco-settings button{
    padding: 1ch;
    padding-inline: 2ch;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--choco-caramel);
    border-radius: 1ch;
    color: var(--choco-dark);
    background-color: var(--choco-background);
}
.choco-settings button a{
    text-decoration: none;
    color: var(--text-color-one);
}
.choco-sign_up{
    color: var(--choco-background);
    padding-inline: 2ch;
}
.choco--modes{
    background-color: #8e6d57af;
    padding: 1ch;
    padding-inline: 2ch; 
    align-items: center;
    margin: 2ch;
    margin-inline: 5ch;
    display: flex;
    justify-content: space-between;
}
.choco--modes select{
    height: 3ch;
    padding-inline: 1.5ch;
    border-radius: 1ch;
    outline: none;
    border: none;
}
.choco--mode-select{
    color: var(--choco-background);
}

.choco-head{
    margin-block: 3ch;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}
.choco-head h1{
    color: var(--choco-dark);
}
.choco-mascotte{
    height: 17ch;
}
.choco-main{
    display: flex;
    flex-direction: row;
    margin-block-start: 5ch;
    margin-block-end: 3ch;
}
.choco-playground{
    width: 70%;
    margin: auto;
}
.choco-text--field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(145, 114, 95);
    border-radius: 2ch;
    border: 2px solid var(--choco-caramel);
}
#remaining-words{
    font-size: 2.5ch;
    padding-inline: 5ch;
    padding-block: 1ch;
    padding-block-start: 3ch;
}
#word-display{
    font-size: 2.5ch;
    text-align: start;
    padding-inline: 5ch;
    padding-bottom: 3ch;
    border-radius: 2ch;
    color: var(--text-color-one);
}
.choco-playground input{
    width: 80%;
    margin: auto;
    margin-block-end: 3ch;
    font-size: large;
    text-align: center;
    padding: 1.5ch;
    border: none;
    border-radius: 1ch;
    outline: none;
    background-color: var(--choco-caramel);
    color: var(--text-color-one);
}
.restart{
    align-items: center;
    color: var(--choco-background);
    margin: auto;
    background-color: #6b5041d3;
    padding-inline: 3ch;
    padding-block: 1ch;
    border-radius: 1ch;
    margin-block-end: 3ch;
    font-size: larger;
}
.choco--stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    background-color: #91725f;
    border-radius: 2ch;
}
#results{
    display: flex;
    color: var(--text-color-one);
    padding-block: 10ch;
}
footer{
    width: 100%;
    height: auto;
    text-align: center;
    bottom: 0;
    font-size: 1rem;
    color: var(--choco-background);
    background-color: var(--choco-dark);
}
footer div{
    bottom: 0;
}